<table mat-table [dataSource]="tireData" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let tire"> {{tire.date | date:'short'}} </td>
  </ng-container>

  <ng-container matColumnDef="lf">
    <th mat-header-cell *matHeaderCellDef> Driver Front </th>
    <td mat-cell *matCellDef="let tire"> {{tire.Driver_Front}} </td>
  </ng-container>

  <ng-container matColumnDef="lr">
    <th mat-header-cell *matHeaderCellDef> Driver Rear </th>
    <td mat-cell *matCellDef="let tire"> {{tire.Driver_Rear}} </td>
  </ng-container>

  <ng-container matColumnDef="rf">
    <th mat-header-cell *matHeaderCellDef> Passenger Front </th>
    <td mat-cell *matCellDef="let tire"> {{tire.Pass_Front}} </td>
  </ng-container>

  <ng-container matColumnDef="rr">
    <th mat-header-cell *matHeaderCellDef> Passenger Rear </th>
    <td mat-cell *matCellDef="let tire"> {{tire.Pass_Rear}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

