<div class="row flex-center flex">
  <div class="col-6 form-widget" aria-live="polite">
    <h1 class="header">Supabase + Angular</h1>
    <p class="description">Sign in via magic link with your email below</p>
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()" class="form-widget">
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput id="email" formControlName="email" type="email" matInput placeholder="exmaple@example.come" value="Sushi">
      </mat-form-field>

      <div>
        <button mat-flat-button type="submit" color="primary" [disabled]="loading">{{ loading ? 'Loading' : 'Send magic link' }}</button>
      </div>
    </form>
  </div>
</div>









<!-- <br>
<form [formGroup] = "login" (ngSubmit)="onSubmit()"  >
  <div class="mb-3 d-flex justify-content-center">
    <label for="username">Username:  </label>
    <input type="text" id="username" formControlName="username">
  </div>

  <div class="mb-3 d-flex justify-content-center">
    <label for="password">Password:  </label>
    <input type="password" id="password" formControlName="password"  placeholder="Password">
  </div>


  <div class="mb-3 d-flex justify-content-center">
    <button type="submit" class="btn btn-primary btn-lg" [disabled]="!login.valid">Submit</button>
  </div>
</form> -->
