<mat-card>
<mat-card-header>  </mat-card-header>
<mat-card-title>{{title}}</mat-card-title>
</mat-card>


<base href="/">
<app-navigation></app-navigation>

<div class="container" style="padding: 50px 0 100px 0">
  <app-account *ngIf="session; else auth" [session]="session"></app-account>
  <ng-template #auth>
    <app-login></app-login>
  </ng-template>
</div>

<router-outlet></router-outlet>


