
<form [formGroup]="tireForm" #tf = "ngForm"  class="example-form" (ngSubmit)="onSubmit(tireForm.value)" >
  <mat-form-field class="example-full-width" appearance="fill">

    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="date">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label for="leftFront">Left Front: </mat-label>
    <input type="text" matInput id="leftFront" formControlName="Driver_Front"  placeholder="LF">
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label for="leftRear">Left Rear: </mat-label>
    <input type="text" matInput id="leftRear" formControlName="Driver_Rear" placeholder="LR">
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label for="rightFront">Right Front: </mat-label>
    <input type="text" matInput id="rightFront" formControlName="Pass_Front" placeholder="RF">
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label for="rightRear">Right Rear: </mat-label>
    <input type="text" matInput id="rightRear" formControlName="Pass_Rear" placeholder="RR">
  </mat-form-field>


  <button mat-raised-button type="submit" color="primary" [disabled]="tireForm.invalid" >Submit</button>

</form>



