<!--

<ul class="navbar-nav me-auto mb-2 mb-lg-0">

  <li class="nav-item"><a class="nav-link active" aria-current="page" [routerLink]="['/']" routerLinkActive="active" >Home</a></li>
  <li class="nav-item"><a class="nav-link" [routerLink]="['/tire-form']" routerLinkActive="active">Tire Form</a></li>
  <li class="nav-item"><a class="nav-link" [routerLink]="['/saved-data']" routerLinkActive="active">Saved Data</a></li>
  <li class="nav-item"><a class="nav-link" [routerLink]="['/login']" routerLinkActive="active" >Login</a></li>
  </ul> -->

  <!-- <mat-tab-group>
    <mat-tab label="First"aria-current="page" [routerLink]="['/']" routerLinkActive="active"> Home </mat-tab>
    <mat-tab label="Second" [routerLink]="['/tire-form']" routerLinkActive="active"> Tire Form </mat-tab>
    <mat-tab label="Third" [routerLink]="['/saved-data']" routerLinkActive="active">Saved Data</mat-tab>
    <mat-tab label="Third" [routerLink]="['/login']" routerLinkActive="active">Login</mat-tab>


  </mat-tab-group> -->

  <nav mat-tab-nav-bar backgroundColor="primary"  [tabPanel]="tabPanel">
    <a mat-tab-link class="nav-link active" aria-current="page" [routerLink]="['/']" routerLinkActive="active" >Home</a>
    <a mat-tab-link class="nav-link" [routerLink]="['/tire-form']" routerLinkActive="active">Tire Form</a>
    <a mat-tab-link class="nav-link" [routerLink]="['/saved-data']" routerLinkActive="active">Saved Data</a>
    <a mat-tab-link class="nav-link" [routerLink]="['/login']" routerLinkActive="active" >{{!user ? 'Logout' : 'Login'}}</a>
  </nav>
  <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>





