<form [formGroup]="updateProfileForm" (ngSubmit)="updateProfile()" class="form-widget">

    <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput placeholder="exmaple@email.com" [value]="session.user.email" disabled  id="email">
  </mat-form-field>


    <mat-form-field>
      <mat-label for="username">Name</mat-label>
      <input matInput  formControlName="username" id="username" type="text" />
    </mat-form-field>


    <mat-form-field>
      <mat-label for="website">Website</mat-label>
      <input matInput  formControlName="website" id="website" type="url" />
    </mat-form-field>



  <div>
    <button mat-flat-button type="submit" color="primary" [disabled]="loading">{{ loading ? 'Loading ...' : 'Update' }}</button>
    <button mat-flat-button type="submit" (click)="signOut()">Sign Out</button>
  </div>

  <div>


  </div>
</form>
